# Base dependencies
pygments==2.15.1

# Sphinx base and RTD theme.
sphinx==4.4.0
sphinx_rtd_theme==1.1.1

###### Requirements without Version Specifiers ######
myst_parser
doc8

###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers

